<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnkfactory.ppi.offerer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.tnkfactory.ppi.offerer.OfferwallEmbedActivity" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.tnkfactory.ppi.offerer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tnkfactory.ad.AdWallActivity" />
        <activity android:name="com.tnkfactory.ad.AdMediaActivity" android:screenOrientation="portrait" />

        <!-- 공식 샘플 ID -->
        <meta-data android:name="tnkad_app_id" android:value="30408070-4051-9322-2239-15040708030f" />
    </application>

</manifest>