# Gradle files
.gradle
/build

# Local configuration file (sdk path, etc)
/local.properties

# Intellij
*.iml
.idea

# Android Studio captures folder
/captures

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Etc
.DS_Store